[submodule "themes/NowUI-Pro"]
	path = themes/NowUI-Pro
	url = git@github.com:brunoamaral/Hugo-NowUI-Pro.git
	branch = main
[submodule "gregory"]
	path = gregory
	url = git@github.com:brunoamaral/gregory.git
	branch = main
