{{ $categoriesDir := "content/categories" }}
{{ $categories := readDir $categoriesDir }}
{{ $filteredCategories := slice }}

{{ range $categories }}
  {{ if and (ne .Name ".DS_Store") (not (or (eq .Name "_index.md") (hasSuffix .Name ".jpg") (hasSuffix .Name ".jpeg") (hasSuffix .Name ".png") (hasSuffix .Name ".gif"))) }}
    {{ $filteredCategories = $filteredCategories | append . }}
  {{ end }}
{{ end }}

{{ $numCategories := len $filteredCategories }}
{{ $itemsPerColumn := div $numCategories 3 }}
{{ $remainder := mod $numCategories 3 }}

<div class="container">
  <div class="row">
    {{ range $index, $category := $filteredCategories }}
      {{ $categoryLink := printf "/categories/%s" $category.Name }}
      {{ $isStartOfNewColumn := or (eq $index 0) (eq 0 (mod $index $itemsPerColumn)) }}
      {{ if $isStartOfNewColumn }}
        {{ if gt $index 0 }}
          </div> <!-- Close previous column -->
        {{ end }}
        <div class="col-md-4">
      {{ end }}
      <a href="{{ $categoryLink }}" class="btn btn-info btn-block my-1 font-weight-bold ">{{ $category.Name }}</a>
      {{ if eq $index (sub $numCategories 1) }}
        </div> <!-- Close last column -->
      {{ end }}
    {{ end }}
  </div>
</div>